<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="perfiles" value="Perfiles"/>
    <add key="iconizado" value="false"/>
    <add key="perfilPorDefecto" value=""/>

    <add key="nome" value="Por defecto"/>
    <add key="servidor" value="127.0.0.1"/>
    <add key="porto" value="80"/>
    <add key="excepcions" value="*.es;"/>
    <add key="direccionsLocais" value="true"/>
  </appSettings>
</configuration>